/App/App_Data
/App/bin/*.pdb
/App/bin/*.xml
/App/obj
/App.Components/obj
/App.Components/bin/Debug/EntityFramework.Extended.xml
/App.Components/bin/Debug/EntityFramework.SqlServer.xml
/App.Components/bin/Debug/EntityFramework.xml
/App.Components/bin/Debug/App.Components.pdb
/App.Consoler/obj
/App.Consoler/bin/Debug/*.pdb
/App.Consoler/bin/Debug/*.xml
/App.Consoler/bin/Debug/App.pdb
/App.Consoler/bin/Debug/App.Schedule.pdb
/App.Consoler/bin/Debug/EntityFramework.xml
/App.Consoler/bin/Debug/FineUI.xml
/App.Consoler/bin/Debug/Senparc.Weixin.MP.xml
/App.Consoler/bin/Debug/Senparc.Weixin.xml
/App.Consoler/bin/Debug/App.Consoler.pdb
/App.Consoler/bin/Debug/App.Controls.pdb
/App.Consoler/bin/Debug/Logs
/App.Controls/obj
/App.Controls/bin/App.Controls.pdb
/App.Controls/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/App.Controls/bin/Newtonsoft.Json.xml
/App.Controls/bin/App.Controls.dll~b88d05274b2eaa949a158dd1c430d5fedc974a36
/App.Schedule/obj
/App.Schedule/bin/Debug/App.Components.pdb
/App.Schedule/bin/Debug/App.Schedule.pdb
/App.Schedule/bin/Debug/EntityFramework.xml
/App.Test/obj
/App.Controls/bin/App.Controls.dll
/App/Logs
