{
  "Sleep": 200,
  "LogDt": "2017-12-05 10:12:25",
  "Tasks": [
    {
      "Name": "测试网站可连接性",
      "Enable": true,
      "Schedule": "* * * * * *",
      "Status": 1,
      "LastRunDt": "2017-12-05 10:12:24",
      "Success": "0000-00-00 00:00:30 0/9",
      "Failure": "0000-00-00 00:00:02 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.ConnectTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null",
      "Data": "http://www.lowfit.cn/"
    },
    {
      "Name": "提醒用户拜访",
      "Enable": true,
      "Schedule": "* * * 8,18 0 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.NotifyUserToVisitTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "提醒用户上课",
      "Enable": true,
      "Schedule": "* * * 8,18 0 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.NotifyUserToClassTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "提醒用户充值",
      "Enable": true,
      "Schedule": "* * * 8,18 0 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.NotifyUserToRechargeTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "修正订单状态",
      "Enable": true,
      "Schedule": "* * * 23 30,50 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.UpdateOrderTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "修正健身卡状态",
      "Enable": true,
      "Schedule": "* * * 23 30,50 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.UpdateCardStsTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "补全客户出门时间",
      "Enable": true,
      "Schedule": "* * * 23 30,50 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.FixUserSignOutDtTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "清除日志",
      "Enable": true,
      "Schedule": "* * 1,15 0 0 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-01-00 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.ClearLogTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "每日报表任务",
      "Enable": true,
      "Schedule": "* * * 0 * *",
      "Status": 1,
      "LastRunDt": "2017-12-01 00:29:41",
      "Success": "0000-00-01 00:00:00 0/9",
      "Failure": "0000-00-00 00:01:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.DayReportTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "每月报表任务",
      "Enable": true,
      "Schedule": "* * 1 1,2 0 *",
      "Status": 1,
      "LastRunDt": "0001-01-01 00:00:00",
      "Success": "0000-01-00 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.MonthReportTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    },
    {
      "Name": "每周报表任务",
      "Enable": true,
      "Schedule": "* * * * * 3",
      "Status": 1,
      "LastRunDt": "2017-11-29 20:27:05",
      "Success": "0000-00-07 00:00:00 0/9",
      "Failure": "0000-00-00 00:05:00 0/9",
      "Dependency": [],
      "Runner": "App.Tasks.WeekReportTask, App, Version=1.1.6548.18134, Culture=neutral, PublicKeyToken=null"
    }
  ]
}