<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- 配置节定义 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

    <!-- 数据库定义 -->
  <connectionStrings>
    <add name="db" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Integrated Security=true;Initial Catalog=AppPlat;Persist Security Info=True;" />
  </connectionStrings>

  <!-- FINEUI 设置: Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="Neptune" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" -->
  <FineUI DebugMode="true" />


  <!-- ============================ 配置参数 ============================ -->
  <appSettings>
    <add key="Site" value="SiteName" />
    <add key="SiteDomain" value="www.xxxxx.com" />
    <add key="SiteICP"    value="浙ICP备XXXXXXXX号" />
    <add key="WechatAppID" value="wx4cc80b16e4cxxxxx" />
    <add key="WechatAppSecret" value="224fa2528824d689f9c634cda81xxxxx" />
    <add key="WechatMchId" value="14885xxxxx" />
    <add key="WechatMchKey" value="6093a0dfa78146c9be43fc375c4xxxxx" />
    <add key="WechatUrlPay" value="http://www.wzcc.com/WeiXin/NotifyPayResult.aspx" />
    <add key="WechatMsgVisit" value="Q33vtXAI2LzWQKscHLuAzpavQ3CyWRw0FdWPPGxxxxx" />
    <add key="AliSmsSignName" value="阿里短信签名名称" />
    <add key="AliSmsAccessKeyId" value="LTAI0sMeSjYxxxxx" />
    <add key="AliSmsAccessKeySecret" value="qvwj3qA2hpnYutCu3ZBxcI0Kfxxxxx" />
    <add key="AliSmsRegist" value="SMS_911xxxxx" />
    <add key="AliSmsVerify" value="SMS_911xxxxx" />
    <add key="AliSmsChangePassword" value="SMS_911xxxxx" />
    <add key="AliSmsChangeInfo" value="SMS_911xxxxx" />
    <add key="AliSmsNotify" value="SMS_911xxxxx" />
  </appSettings>

  
  <!-- ============================ Web ============================ -->
  <system.web>
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" />
    <authentication mode="Forms">
      <forms name=".APPPLAT_AUTH" loginUrl="~/Default.aspx" timeout="120" defaultUrl="~/Admins/Main.aspx" protection="All" path="/" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="f" />
        <add assembly="App" namespace="App.Controls" tagPrefix="f" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" namespace="System.Web.UI.DataVisualization.Charting" tagPrefix="asp" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagPrefix="asp" />
      </controls>
    </pages>
    <!-- HttpModule和HttpHandler设置。传统模式请开放，集成模式请关闭 -->
    <!--
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="WebCall.*.axd" type="Kingsoc.Web.WebCall.WebCallHandler, Kingsoc.Web.WebCall"/>
    </httpHandlers>
    -->
  </system.web>


  <!-- ============================ 特殊目录文件的访问权限 ============================ -->
  <location path="Admins"><system.web><authorization><deny users="?" /></authorization></system.web></location>
  <location path="Reports"><system.web><authorization><deny users="?" /></authorization></system.web></location>
  <location path="WeiXin"><system.web><authorization><deny users="?" /></authorization></system.web></location>



  
  <!-- ============================ EntityFramework ============================ -->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <!-- ============================ IIS ============================ -->
  <!-- HttpModule和HttpHandler设置。传统模式请关闭，集成模式请打开 -->
  <system.webServer>
    <modules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
      <add name="MonitorModule" type="App.Components.MonitorModule" />
    </modules>
    <handlers>
      <add name="WebResource" path="/WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" />
      <add name="WebCall" verb="*" path="WebCall.*.axd" type="Kingsoc.Web.WebCall.WebCallHandler, Kingsoc.Web.WebCall" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" preCondition="integratedMode" />
    </handlers>
  </system.webServer>


  <!-- ============================ Logger ============================ -->
  <log4net>
    <logger name="App">
      <level value="ALL" />
      <appender-ref ref="SizeRollingFileAppender" />
    </logger>
    <appender name="SizeRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Logs/App" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd.&quot;log&quot;" />
      <param name="CountDirection" value="1" />
      <param name="MaxSizeRollBackups" value="300" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>