html {
    font-family: "Helvetica Neue",Helvetica,"Microsoft YaHei",STHeiTi,sans-serif;
    font-size: 10px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

body {
    font-size: 1.2rem;
    margin: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

    audio:not([controls]) {
        display: none;
        height: 0
    }

[hidden], template {
    display: none
}

a {
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

    a:active, a:hover {
        outline: 0
    }

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2.2rem;
    margin: .67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: .8rem
}

sub, sup {
    font-size: .7rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0 none
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1rem
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

    button[disabled], html input[disabled] {
        cursor: default
    }

    button::-moz-focus-inner, input::-moz-focus-inner {
        border: 0 none;
        padding: 0
    }

input {
    line-height: normal;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

    input[type="checkbox"], input[type="radio"] {
        box-sizing: border-box;
        padding: 0
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none
    }

    input[type="search"] {
        -webkit-appearance: textfield;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }

        input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
            -webkit-appearance: none
        }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0 none;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0;
    margin: 0
}

a {
    text-decoration: none
}

ul, li {
    list-style: none
}

.show {
    display: block
}

@font-face {
    font-family: "m_icon";
    src: url('../../../fonts/m_icon/m_icon.eot?t=?ver=1488264888');
    src: url('../../../fonts/m_icon/m_icon.eot?t=?ver=1488264888#iefix') format('embedded-opentype'),url('../../../fonts/m_icon/m_icon.woff?t=?ver=1488264888') format('woff'),url('../../../fonts/m_icon/m_icon.ttf?t=?ver=1488264888') format('truetype'),url('../../../fonts/m_icon/m_icon.svg?t=?ver=1488264888#m_icon') format('svg')
}

@font-face {
    font-family: "m_themes_icon";
    src: url('../../../fonts/m_themes_icon/m_themes_icon.eot?t=?ver=1488264888');
    src: url('../../../fonts/m_themes_icon/m_themes_icon.eot?t=?ver=1488264888#iefix') format('embedded-opentype'),url('../../../fonts/m_themes_icon/m_themes_icon.woff?t=?ver=1488264888') format('woff'),url('../../../fonts/m_themes_icon/m_themes_icon.ttf?t=?ver=1488264888') format('truetype'),url('../../../fonts/m_themes_icon/m_themes_icon.svg?t=?ver=1488264888#m_themes_icon') format('svg')
}

.m_icon, .m_themes_icon {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

.m_icon {
    font-family: "m_icon" !important
}

.m_themes_icon {
    font-family: "m_themes_icon" !important
}

body {
    word-wrap: break-word;
    word-break: break-all
}

a.disabled, input.disabled, button.disabled {
    cursor: default;
    background: #e8e8e8 !important;
    color: #c7c7c7 !important
}

    a.disabled:hover, input.disabled:hover, button.disabled:hover {
        background: #e8e8e8 !important;
        color: #c7c7c7 !important
    }

.hide {
    display: none
}

.show {
    display: block
}

.mg-b {
    margin-bottom: 10px
}

.mg-t10 {
    margin-top: 10px !important
}

.mg-t15 {
    margin-top: 15px !important
}

.mg-t20 {
    margin-top: 20px !important
}

button, input, a, select, textarea, div, span, label, i {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent
}

    button:focus, input:focus, a:focus, select:focus, textarea:focus, div:focus, span:focus, label:focus, i:focus {
        outline: 0
    }

.corner_newer {
    position: absolute;
    right: 0;
    top: 0
}

    .corner_newer .m_icon {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
        font-size: 70px;
        line-height: 70px;
        color: #ea3925
    }

    .corner_newer .des {
        position: absolute;
        width: 50px;
        height: 20px;
        right: -2px;
        top: 17px;
        z-index: 2;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        color: #fff;
        font-size: 1.2rem
    }

.card_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px
}

body {
    background: #fff;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
    line-height: 1
}

.main_content {
    overflow: hidden
}

.page_title {
    height: 44px;
    background: #f5f5f5;
    font-size: 1.6rem;
    color: #333;
    text-align: center;
    line-height: 44px;
    font-weight: normal
}

    .page_title .back {
        display: block;
        position: absolute;
        left: 15px;
        top: 13px;
        width: 17px;
        height: 17px;
        text-indent: -9999px;
        background: url("../../../img/icon_m_default.png?ver=1488264888") left top no-repeat;
        background-size: 250px 500px;
        background-position: -200px -100px
    }

.surprise {
    padding: 20px 0 10px
}

    .surprise.pd-b-60 {
        padding-bottom: 60px
    }

    .surprise p {
        font-size: 1.2rem;
        color: #aaa;
        line-height: 2rem;
        text-align: center
    }

.training_title {
    font-size: 1.5rem;
    color: #4c4c4c;
    padding-bottom: 15px;
    margin: 20px 15px 15px;
    border-bottom: 1px solid #ddd
}

.no_more {
    width: 220px;
    margin: 50px auto
}

    .no_more span {
        display: block;
        width: 90px;
        height: 78px;
        margin: 0 auto 10px;
        background: url("../../../img/no_data.png") left top no-repeat;
        background-size: 100% 100%
    }

    .no_more p {
        font-size: 1.4rem;
        color: #969696;
        text-align: center;
        line-height: 20px
    }

.foot_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px
}

    .foot_bar ul {
        width: 100%;
        height: 100%
    }

        .foot_bar ul li {
            width: 25%;
            height: 50px;
            float: left
        }

            .foot_bar ul li a {
                display: block;
                font-size: 1rem;
                text-align: center;
                padding: 8px 0 6px;
                line-height: 12px
            }

                .foot_bar ul li a:before {
                    font-family: "m_themes_icon";
                    content: '\e607';
                    font-size: 2.2rem;
                    display: block;
                    height: 21px;
                    margin: 4px auto 1px
                }

            .foot_bar ul li.course a:before {
                content: '\e606'
            }

            .foot_bar ul li.card a:before {
                content: '\e605'
            }

            .foot_bar ul li.mall a:before {
                content: '\e606'
            }

            .foot_bar ul li.mall {
                display: none
            }

                .foot_bar ul li.mall a:before {
                    content: '\e608'
                }

            .foot_bar ul li.my a:before {
                content: '\e604'
            }

    .foot_bar.hasmall li {
        width: 20%
    }

        .foot_bar.hasmall li.mall {
            display: block
        }

@media only screen and (min-width:481px) {
    .wrap {
        width: 700px;
        margin: 0 auto
    }

    .foot_bar {
        right: 0;
        margin: auto;
        max-width: 700px
    }
}

.follow_wrap {
    background: #1d1f22;
    height: 45px;
    line-height: 45px;
    color: #fff;
    position: relative;
    padding-left: 48px;
    padding-right: 50px;
    font-size: 1.5rem
}

    .follow_wrap img {
        position: absolute;
        left: 15px;
        top: 50%;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        border-radius: 12px
    }

    .follow_wrap a {
        color: #FFF
    }

        .follow_wrap a:hover {
            color: #FFF
        }

    .follow_wrap .follow_me {
        position: absolute;
        right: 15px;
        color: #FFF
    }

        .follow_wrap .follow_me:hover {
            color: #FFF
        }

.layer {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    z-index: 2;
    background: rgba(0,0,0,0.7)
}

    .layer .coach_qrcode {
        position: fixed;
        top: 100px;
        left: 50%;
        margin-left: -140px;
        width: 250px;
        background: #fff;
        padding: 15px;
        border-radius: 5px
    }

        .layer .coach_qrcode img {
            display: block;
            width: 250px;
            height: 250px;
            margin-bottom: 20px
        }

        .layer .coach_qrcode p {
            font-size: 1.4rem;
            text-align: center;
            line-height: 2rem
        }

            .layer .coach_qrcode p.tips {
                color: #666
            }

            .layer .coach_qrcode p.name {
                color: #080504
            }

    .layer .close_layer {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 23px;
        height: 23px;
        background: url("../../../img/icon_coach_share.png?ver=1488264888") -34px 0 no-repeat;
        background-size: 57px 23px
    }

.icon_address {
    background: url("../../../img/icon_m_default.png?ver=1488264888") left top no-repeat;
    background-size: 250px 500px;
    background-position: 0 -150px
}

.icon_tag {
    background: url("../../../img/icon_m_default.png?ver=1488264888") left top no-repeat;
    background-size: 250px 500px;
    background-position: 0 -250px
}

.top_menu {
    position: relative;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 1.5rem
}

    .top_menu .m_icon {
        position: absolute;
        left: 5px;
        font-size: 2.2rem;
        width: 30px;
        height: 30px;
        line-height: 30px;
        top: 50%;
        margin-top: -15px
    }

        .top_menu .m_icon.me {
            left: auto;
            right: 5px
        }

.float_menu {
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 100%
}

    .float_menu .m_icon {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        font-size: 28px;
        text-align: center
    }

input {
    background: transparent
}

.sec_seperate {
    width: 100%;
    height: 10px;
    background: #f2f2f2
}

.new_welfare {
    width: 100%;
    height: 50px;
    position: relative;
    max-width: 700px;
    margin: 0 auto 50px auto
}

    .new_welfare .inner_wrap {
        position: fixed;
        width: 100%;
        height: 50px;
        max-width: 700px;
        background: rgba(0,0,0,0.68);
        left: 0;
        bottom: 50px;
        color: #fff;
        box-sizing: border-box;
        padding: 10px 90px 10px 27px
    }

        .new_welfare .inner_wrap .text_icon {
            position: absolute;
            left: 0;
            top: 9px;
            font-size: 1.2rem;
            padding: 3px 3px;
            border-radius: 3px;
            color: #fff;
            margin-left: 5px
        }

        .new_welfare .inner_wrap .btn_buy {
            position: absolute;
            right: 27px;
            top: 50%;
            cursor: pointer;
            margin-top: -15px;
            width: 60px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 15px;
            border-radius: 5px
        }

            .new_welfare .inner_wrap .btn_buy:hover {
                color: #fff
            }

        .new_welfare .inner_wrap .close {
            position: absolute;
            width: 20px;
            height: 50px;
            line-height: 25px;
            font-size: 22px;
            right: 0;
            top: 0;
            color: #fff;
            cursor: pointer;
            z-index: 2;
            text-align: right;
            padding-right: 5px
        }

        .new_welfare .inner_wrap p {
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }

            .new_welfare .inner_wrap p.t1 {
                font-size: 1.5rem
            }

            .new_welfare .inner_wrap p.t2 {
                font-size: 1.2rem;
                margin-top: 4px
            }

    .new_welfare.bottom {
        margin-bottom: 0
    }

        .new_welfare.bottom .inner_wrap {
            bottom: 0
        }

.anniversary_banner {
    width: 100%;
    height: 50px;
    position: relative;
    max-width: 700px;
    margin: 0 auto 50px
}

    .anniversary_banner .inner_wrap {
        position: fixed;
        width: 100%;
        height: 50px;
        max-width: 700px;
        background: url("https://static-s.styd.cn/201701130953/anniversary_banner_2016.png") center center no-repeat;
        background-size: cover;
        left: 0;
        bottom: 50px;
        box-sizing: border-box
    }

        .anniversary_banner .inner_wrap:before, .anniversary_banner .inner_wrap:after {
            content: " ";
            display: table
        }

        .anniversary_banner .inner_wrap:after {
            clear: both
        }

        .anniversary_banner .inner_wrap a {
            display: block;
            float: left;
            width: 90%;
            height: 100%;
            text-indent: -9999px
        }

        .anniversary_banner .inner_wrap .close {
            display: block;
            float: left;
            width: 10%;
            height: 100%;
            position: relative
        }

            .anniversary_banner .inner_wrap .close::before {
                position: absolute;
                right: 10px;
                top: 10px;
                content: '';
                background: #fff;
                width: 1rem;
                height: 1rem
            }

            .anniversary_banner .inner_wrap .close::after {
                position: absolute;
                right: 5px;
                top: 5px;
                font-family: "m_icon";
                content: '\e610';
                color: #3a3a3d;
                font-size: 2rem
            }

    .anniversary_banner.bottom {
        margin-bottom: 0
    }

        .anniversary_banner.bottom .inner_wrap {
            bottom: 0
        }

@media screen and (min-width:700px) {
    .new_welfare .inner_wrap, .anniversary_banner .inner_wrap {
        left: 50%;
        margin-left: -350px
    }
}

.t-radio-dot {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    vertical-align: text-top
}

.tab_g {
    padding: 9px 0;
    height: 25px;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #ddd
}

    .tab_g li {
        float: left;
        width: 25%
    }

        .tab_g li a {
            display: block;
            width: 100%;
            height: 25px;
            font-size: 1.4rem;
            color: #808080;
            text-align: center;
            line-height: 25px
        }

        .tab_g li.current {
            padding-bottom: 7px
        }

body {
    background: #f2f2f2
}

.card_list .card_wrap {
    width: 89%;
    height: 50%;
    margin: 0 auto 15px;
    position: relative
}

    .card_list .card_wrap a {
        display: block;
        width: 250px;
        height: 136px;
        padding: 12px 20px;
        overflow: hidden;
        position: relative;
        color: #666;
        width: 100%;
        height: 100%;
        box-sizing: border-box
    }

        .card_list .card_wrap a .card_remark {
            border-top: 2px solid #666
        }

        .card_list .card_wrap a i {
            display: block;
            font-size: 1.5rem;
            text-align: right;
            font-style: normal
        }

        .card_list .card_wrap a b {
            display: block;
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 10px;
            position: relative
        }

        .card_list .card_wrap a span {
            display: block;
            font-size: 1.2rem;
            font-weight: bold;
            line-height: 1.7rem;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            position: relative
        }

        .card_list .card_wrap a .card_remark {
            position: absolute;
            bottom: 12px;
            left: 20px;
            padding-top: 7px;
            width: 250px
        }

            .card_list .card_wrap a .card_remark em {
                display: block;
                width: 250px;
                font-size: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                font-style: normal
            }

        .card_list .card_wrap a .card_type_des {
            position: absolute;
            top: -25px;
            right: 5px;
            z-index: 2
        }

        .card_list .card_wrap a span {
            margin-bottom: 37%;
            height: 3.4rem
        }

        .card_list .card_wrap a .card_remark {
            width: 90%;
            left: 5%;
            z-index: 0
        }

.card_list li {
    background: #fff;
    padding-top: 10px;
    margin-bottom: 10px;
    overflow: hidden
}

.card_list .discount {
    font-size: 1.4rem;
    vertical-align: middle;
    border: 1px solid #666;
    padding: 2px 10px;
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
    top: -1px;
    font-weight: normal
}

.corner_newer .des {
    right: 3px
}

.view_course {
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    font-size: 1.2rem;
    position: relative
}

    .view_course a {
        color: #666;
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        padding-left: 15px
    }

    .view_course:before {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        border-top: 1px solid #666;
        border-right: 1px solid #666;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -4px
    }












.weui-tabbar__item.weui-bar__item--on .weui-tabbar__label {
    color: #077CE0
}

.weui-toast_content {
    font-size: 16px;
    line-height: 1.6;
}

.weui-toast {
    min-height: 9em;
    width: 9em;
}

@media only screen and (min-width:400px) {
    html {
        font-size: 0.75em !important;
    }

    .weui-toast_content {
        font-size: 16px;
        line-height: 1.6;
    }

    .weui-toast {
        min-height: 8em;
        width: 8em;
    }
}

@media only screen and (min-width:414px) {
    html {
        font-size: 0.75em !important;
    }

    .weui-toast_content {
        font-size: 16px;
        line-height: 1.6;
    }

    .weui-toast {
        min-height: 8em;
        width: 8em;
    }
}